<div class="container-banner">
        <h2 class="lightbox-title">Canal</h2>
    
        <!-- INICIO DO CARROSSEL -->

        <div class="carousel infinity" id="slider1">
                <input type="radio" name="slides" checked="checked" id="slide_1" />
                <input type="radio" name="slides" id="slide_2" />
                <input type="radio" name="slides" id="slide_3" />
                <input type="radio" name="slides" id="slide_4" />


                <ul>
                    <li> <h5>Email</h5> <img src="img/img-graficos/flash/email-flash.jpg"></li>
                    <li>  <h5>push</h5> <img src="img/img-graficos/flash/push-flash.jpg"></li>
                    <li>  <h5>App</h5> <img src="img/img-graficos/flash/app-flash.jpg"></li>
                    <li>  <h5>geral</h5> <img src="img/img-graficos/flash/funil-flash.jpg"></li>
                </ul>

                <div class="arrows ">
                    <label for="slide_1"></label>
                    <label for="slide_2"></label>
                    <label for="slide_3"></label>
                    <label for="slide_4"></label>

                    <label class="goto-first" for="slide_1"></label>
                    <label class="goto-last" for="slide_4"></label>
                </div>
                <div class="navigation">
                    <div>
                        <label for="slide_1"></label>
                        <label for="slide_2"></label>
                        <label for="slide_3"></label>
                        <label for="slide_4"></label>

                    </div>
                </div>
            </div>

            <!-- FIM DO CARROSSEL -->
</div>