<h5>{{title}}</h5>
<div class="row">
    <div class="col-1-2">
        <iframe id="graphic" src='' width="100%" height="{{height}}" scrolling="no" data-hj-allow-iframe=""></iframe>
    </div>
    <div class="col-1-2">
        <iframe id="second-graphic" src='' width="100%" height="{{height}}" scrolling="no" data-hj-allow-iframe=""></iframe>
    </div>
</div> 
<div class="legend-charts">
    <span class="square -red" ng-if="prop1"></span>{{prop1}}
    <span class="square -dark-yellow" ng-if="prop2"></span>{{prop2}}
</div>