<div class=" sms-wrapper">
    <form>
        <h2 class="lightbox-title">Editar Operador</h2>

        <div class="row">
            <div class="col-1-2">
                <label class="label-input">Nome*</label>
                <input type="text" ng-model="employee.name" required
                pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ'\s]+$" ng-pattern-restrict
              ng-class="{'input-error': nameError}" ng-blur="validateName()">
            </div>

            <div class="col-1-2">
                <label class="label-input">Status</label>

                    <div class="col-1-2">
                        <label class="checkbox">
                            <input type="radio" name="radio" ng-value="true" ng-model="employee.active">
                            <span class="checkmark"></span>Ativo
                        </label>
                    </div>

                    <div class="col-1-2 _no-padding">
                        <label class="checkbox">
                            <input type="radio" name="radio" ng-value="false" ng-model="employee.active">
                            <span class="checkmark"></span>Inativo
                        </label>
                    </div>

            </div>
        </div>
        <div class="row">
            <label class="label-input">Area*</label>
            <input type="text" ng-model="employee.area" required
            ng-class="{'input-error': areaError}" ng-blur="validateArea()">
        </div>

            <div class="row">
                    <div class="col-1-2">
                        <label class="label-input">CPF*</label>
                        <input type="text" ng-model="employee.cpf" ui-br-cpf-mask required
                        ng-class="{'input-error': cpfError}" ng-blur="validateCpf()">
                    </div>

                    <div class="col-1-2">
                        <label class="label-input">Telefone*</label>
                        <input type="text" ng-model="employee.phone" ui-br-phone-number required
                        ng-class="{'input-error': phoneError}" ng-blur="validatePhone()">
                    </div>
                </div>

                <div class="row">
                    <label class="label-input">Email*</label>
                    <input type="email" ng-model="employee.email" required
                    ng-class="{'input-error': emailError}" ng-blur="validateEmail()">
                </div>

                <div class="row">
                    <div class="col-1-2">
                        <label class="label-input">Senha</label>
                        <input type="password" ng-model="employee.password">
                    </div>

                    <div class="col-1-2">
                        <label class="label-input">Repetir senha</label>
                        <input type="password" ng-model="employee.confirmPassword" required
                        ng-blur="confirmPassword()">
                    </div>
                </div>

                <div class="row">
                  <label class="label-input">Permissão no Shopping*</label>
                  <select ng-model="employee.roleId" ng-options="role.id as role.name for role in roles">
                    <option value="" disabled>-- Selecione --</option>
                    <!-- <option value="{{role.id}}" ng-repeat="role in roles" ng-selected="role.id == employee.roleId">{{role.name}}</option> -->
                  </select>
                </div>

                <div class="row">
                    <span class="obs"> Descrição da funcionalidades do operador que está sendo cadastrado, que aparecerá toda vez que um usuário escolher um papel.</span>
                </div>

                <div class="row">
                  <button class="button-default -action" ng-click="update()"
                    ng-disabled="!employee.name || employee.active === null || employee.active === undefined || !employee.area || !employee.cpf || !employee.phone || !employee.email || !employee.roleId">Salvar</button>
                </div>
        </div>

    </form>
</div>
