<h5>{{title}}</h5>
<iframe id="graphic" src='' width="100%" height="{{height}}" scrolling="no" ng-focus="loadGraphic()" data-hj-allow-iframe=""></iframe>
<div class="legend-charts">
    <span class="square -light-purple" ng-if="prop1"></span>{{prop1}}
    <span class="square -dark-turquoise" ng-if="prop2"></span>{{prop2}}
    <span class="square -dark-yellow" ng-if="prop3"></span>{{prop3}}
    <span class="square -smoke-purple" ng-if="prop4"></span>{{prop4}}
    <span class="square -violet" ng-if="prop5"></span>{{prop5}}
    <span class="square -smoke-turquoise" ng-if="prop6"></span>{{prop6}}
    <span class="square -dark" ng-if="prop7"></span>{{prop7}}
    <span class="square -light-yellow" ng-if="prop8"></span>{{prop8}}
</div>