<div class="sms-wrapper">
        <h2 class="lightbox-title">Cadastrar Segmento</h2>

        <div class="row">
            <div class="col-1-2">
                <label class="label-input">Nome do segmento</label>
                <input type="text">
            </div>

            <div class="col-1-2">
                <label class="label-input">Intervalo de Pontos</label>

                <div class="col-2">
                    <span>De:</span>
                </div>

                <div class="col-3">
                    <select>
                        <option value="-1" disabled>0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>

                </div>

                <div class="col-2">
                    <span>Até:</span>
                </div>

                <div class="col-3">
                    <select>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <button class="button-default -action">salvar</button>
        </div>


    </div>
