<h5>{{title}}</h5>
<iframe id="graphic" src='' width="100%" height="{{height}}" scrolling="no" ng-focus="loadGraphic()" data-hj-allow-iframe=""></iframe>
<div class="legend-charts">
    <span class="square -brown" ng-if="prop1"></span>{{prop1}}
    <span class="square -yellow" ng-if="prop2"></span>{{prop2}}
    <span class="square -smoke-green" ng-if="prop3"></span>{{prop3}}
    <span class="square -light-blue" ng-if="prop4"></span>{{prop4}}
    <span class="square -purple" ng-if="prop5"></span>{{prop5}}
</div>
