<div class="detail-content">
  <div class="row">
    <h2 class="lightbox-title">Detalhamento</h2>
  </div>

  <div class="row">

    <div class="col-1-2-xl">
      <div class="row">
        <div class="col-1-3">
          <div class="avatar-detailing">
            <div class="border">
              <div class="avatar"> {{data.clientFirstName | limitTo:
                                1}}{{data.clientLastName | limitTo: 1}}</div>
            </div>
          </div>
        </div>

        <div class="col-2-3">
          <div class="row">
            <div class="detailing-client">
              <img src="../img/targeting/prospect.svg" ng-if="data.clientTargetingName == 'Prospect'">
              <img src="../img/targeting/silver.svg" ng-if="data.clientTargetingName == 'Prata'">
              <img src="../img/targeting/gold.svg" ng-if="data.clientTargetingName == 'Ouro'">
              <img src="../img/targeting/diamond.svg" ng-if="data.clientTargetingName == 'Diamante'">
            </div>
            <h5 class="title"><strong>{{data.clientFirstName}}</strong> {{data.clientLastName}}</h5>
            <span class="title -small">Cliente {{data.clientTargetingName}}</span>


            <div class="clearfix"></div>
            <div class="row" ng-if="canAccessCustomerView">
              <button class="button-default -filter -small" ng-click="seeCustomerView()">Customer View</button>
            </div>
          </div>
        </div>

      </div>


      <div class="row -short">
        <label class="label-detailing">Nome</label>
        <span class="detailing-text">{{data.clientName}}</span>
      </div>

      <div class="row -short">
        <label class="label-detailing"> E-mail</label>
        <span class="detailing-text">{{data.clientEmail}}</span>
      </div>
      <div class="row -short">
        <label class="label-detailing">CPF</label>
        <span class="detailing-text"> {{data.clientCpf}}</span>
      </div>
      <div class="row -short">
        <label class="label-detailing">Telefone</label>
        <span class="detailing-text">{{data.clientPhone}}</span>
      </div>
      <div class="row -short">
        <label class="label-detailing">Gênero</label>
        <span class="detailing-text">{{data.clientSex}}</span>
      </div>
      <!-- <div class="row -short">
                <label class="label-detailing">Aceite para Clube</label>
                <span class="detailing-text">{{data.clientAcceptance}}</span>
            </div> -->
      <div class="row -short">
        <label class="label-detailing">CEP</label>
        <span class="detailing-text">{{data.clientCep}}</span>
      </div>
      <div class="row -short">
        <label class="label-detailing">Data de Nascimento</label>
        <span class="detailing-text">{{data.clientBirthday}}</span>
      </div>


    </div>

    <div class="col-1-2-xl">
      <div class="row -short">
        <label class="label-detailing">Motivo do atendimento</label>
        <span class="textarea-detailing">{{data.reasonName}}</span> <br />
        <textarea class="textarea-detailing" cols="30" rows="5" readonly>{{data.comment}}</textarea>

      </div>

      <div class="row -short">
        <label class="label-detailing">Data do atendimento</label>
        <span class="detailing-text">{{data.registerDate}}</span>
      </div>

      <div class="row -short">
        <label class="label-detailing">Nota recebida</label>
        <span class="detailing-text">{{data.score}}</span>
      </div>


      <div class="row -short">
        <label class="label-input">Encaminhar Registro</label>
        <select ng-model="customerService.role" ng-init="customerService.role = '-1'">
          <option value="-1" selected disabled>-- Selecione --</option>
          <option value="Jurídico">Jurídico</option>
          <option value="Marketing">Marketing</option>
          <option value="Operações">Operações</option>
          <option value="Segurança">Segurança</option>
          <option value="Estacionamento">Estacionamento</option>
        </select>
      </div>
      <div class="row">
        <button class="button-default -filter -small" ng-click="sendEmail()">Enviar</button>
      </div>
    </div>
  </div>
