<div class="detail-content">
  <div class="row">
    <h2 class="lightbox-title">Anexar regulamento</h2>
  </div>

  <div
    ng-disabled="didUploadRegulation"
    ng-model="regulationinput"
    class="drop-box"
    ngf-drag-over-class="'dragover'"
    ngf-multiple="false"
    ngf-drop="file_changed($files)"
    ngf-drop-disabled="didUploadRegulation"
    ngf-allow-dir="true"
    ngf-accept="'application/pdf'"
    ngf-pattern="'.pdf'"
    ngf-select="file_changed($files)"
    ngf-select-disabled="didUploadRegulation">

    <div class="text-drag" ng-show="didUploadRegulation"><br>Upload realizado com sucesso!<br></div>

    <span class="text-drag" ng-hide="didUploadRegulation"><br>Arraste o Arquivo* para cá <br> - ou - <br> Clique aqui para carregar do
      computador</span>
  </div>

  <div class="row">
    <span class="obs">*Formato do aquivo: PDF. </span>
  </div>

  <input
    ng-disabled="!didUploadRegulation"
    class="button-default -purple -action -small" ng-click="closeRuleWindow();" value="SALVAR" type="submit">

</div>
