<div class="row sms-wrapper">
    <h2 class="lightbox-title">SMS</h2>
    <textarea rows="10" maxlength=149 ng-model="sms.content" required> </textarea>
    <div class="_text-right">
      <span class="components-subtitle" >{{sms.content.length}}/149</span>
    </div>


    <div ng-if="mode != 'SHOW'" class="row">
        <button ng-if="mode == 'CREATE'" class="button-default -action " value="ADICIONAR" type="submit" ng-click="createSms()" ng-disabled="!sms.content">Adicionar</button>
        <button ng-if="mode != 'CREATE'" class="button-default -turquoise -small -filter" value="ATUALIZAR" type="submit" ng-click="updateSms()" ng-disabled="!sms.content">Atualizar</button>
        <button ng-if="mode != 'CREATE'" class="button-default -grey -small -filter" value="APAGAR" type="submit" ng-click="deleteSms()">Excluir</button>

    </div>
</div>
