<h5>{{title}}</h5>
<iframe id="graphic" src='' width="100%" height="{{height}}" scrolling="no" ng-focus="loadGraphic()" data-hj-allow-iframe=""></iframe>
<div class="legend-charts">
    <div class="col-1-5">
        <span class="square -treemap-01" ng-if="prop1"></span>{{prop1}}
    </div>
    <div class="col-1-5">
        <span class="square -treemap-02" ng-if="prop2"></span>{{prop2}}
    </div>
    <div class="col-1-5">
        <span class="square -treemap-03" ng-if="prop3"></span>{{prop3}}
    </div>
    <div class="col-1-5">
        <span class="square -treemap-04" ng-if="prop4"></span>{{prop4}}
    </div>
    <div class="col-1-5">
        <span class="square -treemap-05" ng-if="prop5"></span>{{prop5}}
    </div>
</div>
<div class="legend-charts">
    <div class="col-1-5">
        <span class="square -treemap-06" ng-if="prop6"></span>{{prop6}}
    </div>
    <div class="col-1-5">
        <span class="square -treemap-07" ng-if="prop7"></span>{{prop7}}
    </div>
    <div class="col-1-5">
        <span class="square -treemap-08" ng-if="prop8"></span>{{prop8}}
    </div>
    <div class="col-1-5">
        <span class="square -treemap-09" ng-if="prop9"></span>{{prop9}}
    </div>
    <div class="col-1-5">
        <span class="square -treemap-10" ng-if="prop10"></span>{{prop10}}
    </div>
</div>
<div class="legend-charts">
    <div class="col-1-5">
        <span class="square -treemap-11" ng-if="prop11"></span>{{prop11}}
    </div>
    <div class="col-1-5">
        <span class="square -treemap-12" ng-if="prop12"></span>{{prop12}}
    </div>
    <div class="col-1-5">
        <span class="square -treemap-13" ng-if="prop13"></span>{{prop13}}
    </div>
    <div class="col-1-5">
        <span class="square -treemap-14" ng-if="prop14"></span>{{prop14}}
    </div>
    <div class="col-1-5">
        <span class="square -treemap-15" ng-if="prop15"></span>{{prop15}}
    </div>
</div>
<div class="legend-charts">
    <div class="col-1-5">
        <span class="square -treemap-16" ng-if="prop16"></span>{{prop16}}
    </div>
    <div class="col-1-5">
        <span class="square -treemap-17" ng-if="prop17"></span>{{prop17}}
    </div>
    <div class="col-1-5">
        <span class="square -treemap-18" ng-if="prop18"></span>{{prop18}}
    </div>
    <div class="col-1-5">
        <span class="square -treemap-19" ng-if="prop19"></span>{{prop19}}
    </div>
    <div class="col-1-5">
        <span class="square -treemap-20" ng-if="prop20"></span>{{prop20}}
    </div>
</div>