///* ========================================================================
//   FUNNEL CHART
//   ======================================================================== */


.lightbox-funnel {
  width: auto;
  height: 380px;
  padding-right: 100px;
  padding-left: 100px;
}