///* ========================================================================
//   SWEET ALERT
//   ======================================================================== */
.confirm {
  font-family: "Arvo", Helvetica, Arial, sans-serif !important;
  font-weight: 600 !important;
  color: #fff !important;
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 20px !important;
  text-transform: uppercase !important;
  text-align: center !important;
  background-color: $turquoise !important;
  font-size: 14px !important;
}

.sweet-alert h2 {
  color: $purple !important;
  text-transform: uppercase !important;
}


.sweet-alert p {
  font-family: "Roboto Mono", Helvetica, Arial, sans-serif !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
}

.sweet-alert button.cancel {
  font-family: "Arvo", Helvetica, Arial, sans-serif !important;
  font-weight: 600 !important;
  color: #fff !important;
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 20px !important;
  text-transform: uppercase !important;
  text-align: center !important;
  background-color: $grey !important;
  font-size: 14px !important;
}
