<!-- Menu Include -->
<ng-include src="'partials/includes/menu.html'" ng-controller="PermissionsController"></ng-include>
<!-- End Menu Include -->

<!-- CUSTOMER SERVICE -->
<section class="container">
  <!-- UserMenu Include -->
  <ng-include src="'partials/includes/user-menu.html'" ng-controller="UserMenuController"></ng-include>
  <!-- End UserMenu Include -->
  <div class="row">
    <style>
      iframe {
        width: 400px;
        height: 600px;
        min-width: 100%;
      }
    </style>
    <div class="sac-container" id="sac-container">
    </div>
    <script type="text/javascript" src="../js/vendor/iframe-resizer/js/iframeResizer.min.js"></script>
    <script type="text/javascript">
  
    iFrameResize({
      log                     : false,                  // Enable console logging
      checkOrigin: false,
    },'#sac-react');

  </script>
  </div>

 </section>
<!-- End Customer Service Content -->
