<!-- Menu Include -->
<ng-include src="'partials/includes/menu.html'" ng-controller="PermissionsController"></ng-include>
<!-- End Menu Include -->

<!-- LOAN SERVICE -->
<section class="container">
  <!-- UserMenu Include -->
  <ng-include src="'partials/includes/user-menu.html'" ng-controller="UserMenuController"></ng-include>
  <!-- End UserMenu Include -->
  <div class="row">
    <style>
      iframe {
        min-height: 680px !important;
        width: 400px;
        min-width: 100%;
      }
    </style>
    <div class="loan-container" id="loan-container">
    </div>
    <script type="text/javascript" src="../js/vendor/iframe-resizer/js/iframeResizer.min.js"></script>
    <script type="text/javascript">

    iFrameResize({
      log                     : false,                  // Enable console logging
      checkOrigin: false,
    },'#loan-react');

  </script>
  </div>

 </section>
<!-- End Colaition Service Content -->
